<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meeting Agenda - Invite</title>
</head>
<body>
<h2>Invite other users to your Meeting</h2>
<p>You are: <span data-th-text="${session.user.getDisplayedName()}">Name of the user</span></p>

<a href="./Logout">Logout</a>

<div th:text="'ERROR: Too many participants selected. Please deselect '+${numberOfUsersToDeselect}+' users.'"><p> ERROR:
    *ERROR TEXT*</p></div>


<form action="CheckInvitations" method="post">
    <fieldset th:each="user : ${alreadySelectedUsers}">
        <input type="checkbox" th:field="${user.getId()}" th:name="user+${user.getId()}" th:value="${user.getId()}"
               checked="checked"/>
        <label th:for="${user.getId()}" th:text="${user.getDisplayedName()}">User
            Already Selected</label>
    </fieldset>
    <fieldset th:each="user : ${notSelectedUsers}">
        <input type="checkbox" th:field="${user.getId()}" th:name="user+${user.getId()}" th:value="${user.getId()}"/>
        <label th:for="${user.getId()}" th:text="${user.getDisplayedName()}">User
            Not Selected</label>
    </fieldset>
    <input type="hidden" id="meetingTitle" name="meetingTitle" value="Test_Meeting_Title" th:value="${tempMeeting.title}">
    <input type="hidden" id="meetingDateTime" name="meetingDateTime" value="DATE_MEETING" th:value="${tempMeeting.getFormattedDateTime()}">
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>

</form>
</body>
</html>