<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>TIW-gestione-riunioni-purehtml</display-name>

    <context-param>
        <param-name>webappC</param-name>
        <param-value>13</param-value>
    </context-param>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/meeting-agenda</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>meeting-agenda-user</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>meetingagenda</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>

    <filter>
        <filter-name>AuthenticatedChecker</filter-name>
        <filter-class>it.polimi.tiw.filters.AuthenticatedChecker</filter-class>
    </filter>
    <filter>
        <filter-name>MeetingCreationChecker</filter-name>
        <filter-class>it.polimi.tiw.filters.MeetingCreationChecker</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticatedChecker</filter-name>

        <url-pattern>/CheckInvitations</url-pattern>
        <url-pattern>/CheckMeetingParameters</url-pattern>
        <url-pattern>/DeleteTemporaryMeeting </url-pattern>
        <url-pattern>/GetAttempts </url-pattern>
        <url-pattern>/GetInvitationList </url-pattern>
        <url-pattern>/GetMeetingsData </url-pattern>
        <url-pattern>/GetUserData </url-pattern>
        <url-pattern>/IncreaseAttempts </url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>MeetingCreationChecker</filter-name>
        <url-pattern>/CheckInvitations</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>